# Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type - ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('visit_log.csv', sep=';')
df.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [9]:
%time 

# v.1
df.loc[df.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
df.loc[ (df.traffic_source.isin(['paid', 'email'])) & (df.region == 'Russia'), 'source_type'] = 'ad'
df.loc[ (df.traffic_source.isin(['paid', 'email'])) & (df.region != 'Russia'), 'source_type'] = 'other'

df.source_type.fillna(df.traffic_source, inplace=True) # Можно было и так: log.loc[log.source_type.isna(), 'source_type'] = log.traffic_source
df.head()

CPU times: total: 0 ns
Wall time: 0 ns

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [14]:
# v.2
def creat_source_type(row):
    traffic = row['traffic_source']
    region = row['region']

    if traffic in ['yandex', 'google']:
        row['source_type'] = 'organic'

    if traffic in ['paid', 'email']:
        if region == 'Russia':
            row['source_type'] = 'ad'
        else:
            row['source_type'] = 'other'
    return row

In [15]:
%time
df = df.apply(creat_source_type, axis=1)
df.head()

CPU times: total: 0 ns
Wall time: 0 ns

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

Вывод: первый способ работает быстрей, предпочтительней использовать конструкцию с df.loc[ ]

In [17]:
import pytest

# Не обязательная часть, решил потренироваться с pytest на основе материалов из предыдущего занятия.


def check_organic(source):
    return source in ['yandex', 'google']

def check_source_russia_paid_email(region, source):
    return region == 'Russia' and source in ['paid', 'email']

def check_source_not_russia_paid_email(region, source):
    return region != 'Russia' and source in ['paid', 'email']



assert check_organic('yandex') == True
assert check_organic('google') == True
assert check_organic('mail') == False

assert check_source_russia_paid_email('Russia', 'paid') == True
assert check_source_russia_paid_email('Russia', 'email') == True
assert check_source_russia_paid_email('Russia', 'yandex') == False
assert check_source_russia_paid_email('Belarus', 'paid') == False
assert check_source_russia_paid_email('Belarus', 'email') == False

assert check_source_not_russia_paid_email('Belarus', 'paid') == True
assert check_source_not_russia_paid_email('Belarus', 'email') == True
assert check_source_not_russia_paid_email('Russia', 'paid') == False
assert check_source_not_russia_paid_email('Russia', 'google') == False

# Задание 2

В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

1.Прочитайте содержимое файла с датафрейм.

2.Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [ ]:
df = pd.read_csv('URLs.txt')
df.head(5)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
df.loc[df.url.str.contains(r'/\d{8}-')] # Parameter regex: bool, default True

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

# Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv.

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.
Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [ ]:
# v.1 - решение через оконные функции:

def window_func_count(df):
  df['counter'] = df['timestamp'].count()
  df['range'] = df['timestamp'].max() - df['timestamp'].min()

  return df

In [ ]:
# На уровне каждого пользователя рассчитываю кол-во отзывов и lifetime

data = df.groupby('userId').apply(window_func_count)
data.head()

   userId  movieId  rating   timestamp  counter  range
0       1       31     2.5  1260759144       20     97
1       1     1029     3.0  1260759179       20     97
2       1     1061     3.0  1260759182       20     97
3       1     1129     2.0  1260759185       20     97
4       1     1172     4.0  1260759205       20     97

In [ ]:
# Оставляю только тех пользователей, у которых более 100 оценок.

active_user = data.loc[data.counter > 100]
active_user.head()

     userId  movieId  rating  timestamp  counter   range
147       4       10     4.0  949810645      204  203560
148       4       34     5.0  949919556      204  203560
149       4      112     5.0  949810582      204  203560
150       4      141     5.0  949919681      204  203560
151       4      153     4.0  949811346      204  203560

In [ ]:
# Рассчитываю среднее время жизни пользователей:

life_time = active_user.groupby('userId').min()[ ['range']]
life_time.head()

            range
userId
4          203560
8           85187
15      471393496
17           8053
19           5282

In [ ]:
mean_life_time = life_time['range'].mean()
print(f'Среднее время жизни пользователей, которые выставили более 100 оценок {int(mean_lt)} сек, что составляет {round(mean_lt / 86400, 2)} дн.')

Среднее время жизни пользователей, которые выставили более 100 оценок 40080507 сек, что составляет 463.89 дн.

In [ ]:
# v.2 - Решение с помощью джоинов.

# Формирую список пользователей, у которых более 100 оценок

count_ratings = df.groupby('userId').count()['timestamp'].reset_index()
count_ratings.rename(columns={'timestamp':'counter'}, inplace=True)
count_ratings = count_ratings.loc[count_ratings.counter > 100]

count_ratings.head()

    userId  counter
3        4      204
7        8      116
14      15     1700
16      17      363
18      19      423

In [ ]:
# Считаю для каждого пользователя lifetime - разница между максимальным и минимальным значением столбца timestamp

def user_lifetime(df):
    return df['timestamp'].max() - df['timestamp'].min()

In [ ]:
users_lt = df.groupby('userId').apply(user_lifetime).reset_index()
users_lt.rename(columns={0:'lifetime'}, inplace=True)
users_lt.head()

   userId  lifetime
0       1        97
1       2       851
2       3     71198
3       4    203560
4       5      2101

In [ ]:
# Склеиваю два датафрейма в один и считаю среднее время жизни пользователей, которые выставили более 100 оценок
output = count_ratings.merge(users_lt, on='userId', how='left')
output.head()

   userId  counter   lifetime
0       4      204     203560
1       8      116      85187
2      15     1700  471393496
3      17      363       8053
4      19      423       5282

In [ ]:
mean_lt = output['lifetime'].mean()
print(f'Среднее время жизни пользователей, которые выставили более 100 оценок {int(mean_lt)} сек, что составляет {round(mean_lt / 86400, 2)} дн.')

Среднее время жизни пользователей, которые выставили более 100 оценок 40080507 сек, что составляет 463.89 дн.

# Задание 4

Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [ ]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

Нужно сформировать две таблицы:

- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента;
- аналогичную таблицу по типам выручки с указанием адреса клиента.

In [ ]:
# Объединяю данные по перевозкам по 3 видам: rzd, auto и air

df_in_concated = pd.concat([rzd, auto, air])

# На случай, если в базе появятся дубликаты:
df_in_concated = df_in_concated.drop_duplicates()

df_in_concated

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           NaN          NaN
1        112       2810.0           NaN          NaN
2        113      10283.0           NaN          NaN
3        114       5774.0           NaN          NaN
4        115        981.0           NaN          NaN
0        113          NaN       57483.0          NaN
1        114          NaN          83.0          NaN
2        115          NaN         912.0          NaN
3        116          NaN        4834.0          NaN
4        117          NaN          98.0          NaN
0        115          NaN           NaN         81.0
1        116          NaN           NaN          4.0
2        117          NaN           NaN         13.0
3        118          NaN           NaN        173.0

In [ ]:
# Формирую сводные данные на уровне client_id:

revenue_all_category = df_in_concated.groupby('client_id').sum().reset_index()
revenue_all_category

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [ ]:
# Присоединяю к справочнику клиентов информацию о перевозках.
# Использую left join чтобы не потерять клиентов, у которых нет перевозок.
# Также можно было использовать outer на случай, если в базе ошибочно заведены транзакции, которых нет в client_base.

data = client_base.merge(revenue_all_category, on='client_id', how='left')
data

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           0.0          0.0
1        112   Энтузиастов 8а       2810.0           0.0          0.0
2        113  Левобережная 1а      10283.0       57483.0          0.0
3        114          Мира 14       5774.0          83.0          0.0
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          0.0        4834.0          4.0
6        117  Панфиловская 33          0.0          98.0         13.0
7        118     Мастеркова 4          0.0           0.0        173.0